    <div class="thumbnail">
      <img src={{submission.image}} alt="...">
      <div class="caption">
        <h3>{{submission.id}}</h3>

        <div>{{star-rating item=submission rating=submission.rating on-click="updateRating" fullClassNames='glyphicon glyphicon-star' emptyClassNames='glyphicon glyphicon-star-empty'}}
        </div>
        <p><a href="#" class="btn btn-primary" role="button">Comment</a> <a href="#" class="btn btn-default" role="button">Reject</a></p>
      </div>
    </div>
    {{outlet}}
