{{#link-to 'contests.new'}}New Contest{{/link-to}}
<hr>
{{#each model as |contest|}}
{{client-contests contest=contest editContest="editContest"}}
<hr>
{{else}}

<p>You currently have no open contests. Click new contest to get started.</p>
{{/each}}
