{{outlet}}
{{client-contests/info contest=model editContest='editContest'}}
{{client-contests/submission/new}}
<div class="container">
<row>
{{#each model.submissions as |submission|}}
  {{client-contests/submission submission=submission}}
{{/each}}
</row>
</div>
