{{outlet}}
{{client-contests/info contest=model editContest='editContest'}}
{{#if isArtist}}
{{#link-to 'contest.submission' model}}New Submission{{/link-to}}
{{/if}}

<div class="container">
<row>
{{#each model.submissions as |submission|}}
  {{client-contests/submission submission=submission}}
{{/each}}
</row>
</div>
