  <h3 class="product-title">{{contest.name}}</h3>
  <h4 class="price">Contest Prize: <span>${{contest.prize}}</span></h4>
  <p class="vote"><strong>8</strong> artists conttributing to this contest!</p>
  <h5 class="sizes">Description</h5>
  <p class="product-description">{{contest.description}}</p>
  <h5 class="colors">colors:
    <span class="color orange"></span>
    <span class="color green"></span>
    <span class="color blue"></span>
  </h5>
  <h5 class="colors">Styles:</h5>
    <ul>
      <li>Tribal</li>
      <li>Watercolor</li>
      <li>Traditional</li>
    </ul>
